/* 2023 Noel Nimstad */

body 
{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main > h1
{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #4372EC;
}

.cards 
{
    height: 100%;
    width: calc(100% - 10rem);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5rem;
    row-gap: 2rem;
}

.card
{
    height: 32rem;
    width: 18rem;
    transition: 0.2s ease;
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2),
                0 0 0.1rem 0 white inset;
    outline:  transparent 0.5rem solid;
    outline-offset: 0.3rem;
    background-size: cover;
}

.card:hover 
{
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1),
                0 0 0.25rem 0 white inset;
    outline: RED 0.35rem solid;
}

.hth
{
    background-image: url("Hold\ that\ Hold.svg");
}

.cs
{
    background-image: url("Coming\ Soon.svg");
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.2),
                0 0 0.2rem 0 white inset;
}

.hth:hover 
{
    outline: #4372EC 0.35rem solid;
}

.cs:hover 
{
    cursor: pointer;
    outline: #98999b 0.35rem solid
}

p 
{
    position: fixed;
    bottom: 0;
    left: 1rem;
    opacity: 0.5;
}